// Body
$body-bg: #f8fafc;
$primary: #4A6DB4;
$secondary: #25B2EC;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$light: #F0F2F7;
$gris-claro: #F0F2F7;
$gris: #B0B6BF;
$gris-oscuro: #5E6066;
$text-color: #636b6f;
$negro: #232426;
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
